{% extends "base.html" %}
{% block title %}Истории{% endblock %}
{% block content %}
<div class="first">	
    <a href="/exact_rubric/anime">
        <div class="story_rubric">
            <p>Аниме</p>
        </div>
    </a>
    <a href="/exact_rubric/cyberpunk">
        <div class="story_rubric">
            <p>Киберпанк</p>
        </div>
    </a>
</div>
<div class="second">
    <a href="/exact_rubric/history">
        <div class="story_rubric">
            <p>Исторический эпос</p>
        </div>
    </a>
    <a href="/exact_rubric/anecdote">
        <div class="story_rubric">
            <p>Анекдотичные истории из жизни</p>
        </div>
    </a>
    <a href="/exact_rubric/romantic">
        <div class="story_rubric">
            <p>Романтические драмы</p>
        </div>
    </a>
</div>
<div class="third">
    <a href="/exact_rubric/superhero">
        <div class="story_rubric">
            <p>Супергероика</p>
        </div>
    </a>
    <a href="/exact_rubric/fantasy">
        <div class="story_rubric">
            <p>Фэнтези</p>
        </div>
    </a>
</div>
{% endblock %}