{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="reg_form">
	<form method="POST">
		<h1>Вход</h1>
		<fieldset class="form-control">
			<input type="text" id="email" name="email" placeholder="Enter Email" autofocus="True">
		</fieldset>
		<fieldset class="form-control">
			<input type="password" id="password" name="password" placeholder="Enter password">
		</fieldset>
		<fieldset class="btn">
			<input type="submit" value="Log in">
		</fieldset>
	</form>
	<a href="/sign_up"><h2>Все-таки зарегистрируюсь</h2></a>
</div>
{% endblock %}